<ion-view view-title="DSS Acknowledgement">
  <ion-content class="animate-fade-slide-in" >
    <div  class="hero no-header flat">
      <h4 style = "color: #000000;">DSS Acknowledgement</h4>
      <h6 style = "color: #000000; text-align:justify; margin-left: 15px; margin-right: 15px;">
          The Digitized Sky Surveys were produced at the Space Telescope Science Institute under U.S. Government
          grant NAG W-2166. The images of these surveys are based on photographic data obtained using the Oschin
          Schmidt Telescope on Palomar Mountain and the UK Schmidt Telescope. The plates were processed into the
          present compressed digital form with the permission of these institutions.<br><br>

          The National Geographic Society - Palomar Observatory Sky Atlas (POSS-I) was made by the California
          Institute of Technology with grants from the National Geographic Society.<br><br>

          The Second Palomar Observatory Sky Survey (POSS-II) was made by the California Institute of Technology
          with funds from the National Science Foundation, the National Geographic Society, the Sloan Foundation, the
          Samuel Oschin Foundation, and the Eastman Kodak Corporation.<br><br>

          The Oschin Schmidt Telescope is operated by the California Institute of Technology and Palomar Observatory.
          <br><br>
          The UK Schmidt Telescope was operated by the Royal Observatory Edinburgh, with funding from the UK
          Science and Engineering Research Council (later the UK Particle Physics and Astronomy Research Council),
          until 1988 June, and thereafter by the Anglo-Australian Observatory. The blue plates of the southern Sky Atlas
          and its Equatorial Extension (together known as the SERC-J), as well as the Equatorial Red (ER), and the
          Second Epoch [red] Survey (SES) were all taken with the UK Schmidt.<br><br>

          All data are subject to the copyright given in the <a ng-click="dsscopy()">copyright</a> summary. Copyright information specific to individual
          plates is provided in the downloaded FITS headers.<br><br>

          Supplemental funding for sky-survey work at the ST ScI is provided by the European Southern Observatory.
        </h6>
      </div>
    </ion-content>
  </ion-modal-view>
