<ion-view view-title="DSS Copyright Summary">
  <ion-content class="animate-fade-slide-in" >
    <div  class="hero no-header flat">
      <h4 style="color: #000000;">DSS Copyright Summary</h4>
      <h6 style="color: #000000;text-align:justify; margin-left: 15px; margin-right: 15px;">
          Each sky-survey file provided by this network server is copyright under one of the provisions listed below. The specific
          copyright notice that is pertinent can be identified from the FITS header file. Eventually, a provision to furnish specific copyright
          information to GIF users will be incorporated; in the meantime, users must obtain this information by a separate request to the
          Space Telescope Science Institute (ST ScI).<br><br>

          The "Second Epoch Survey" of the southern sky was made by the Anglo-Australian Observatory (AAO) with the UK
          Schmidt Telescope. Plates from this survey have been digitized and compressed by the ST ScI. The digitized images are
          copyright © 1993-5 by the Anglo-Australian Observatory Board, and are distributed herein by agreement. All Rights
          Reserved.<br><br>

          The "Equatorial Red Atlas" of the southern sky was made with the UK Schmidt Telescope. Plates from this survey have been
          digitized and compressed by the ST ScI. The digitized images are copyright © 1992-5, jointly by the UK SERC/PPARC
          (Particle Physics and Astronomy Research Council, formerly Science and Engineering Research Council) and the
          Anglo-Australian Telescope Board, and are distributed herein by agreement. All Rights Reserved.<br><br>

          The compressed files of the "Palomar Observatory - Space Telescope Science Institute Digital Sky Survey" of the northern
          sky, based on scans of the Second Palomar Sky Survey are copyright © 1993-1995 by the California Institute of Technology
          and are distributed herein by agreement. All Rights Reserved.<br><br>

          All material not subject to one of the above copyright provisions is copyright © 1995 by the Association of Universities for
          Research in Astronomy, Inc. All Rights Reserved.<br><br>

          Produced under Contract No. NAS5-2555 with the National Aeronautics and Space Administration.
        </h6>
      </div>
    </ion-content>
  </ion-modal-view>
