<ion-view view-title="Login" align-title="left" ng-controller="InitCtrl">
  <ion-content style="background: url(img/wonders-of-the-universe-exlarge.jpg) center; background-size: cover;" >
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>AstroCatalogue</h1>
      </div>
    </div>
    <div class="list card dark-bg card-positive">
      <div class="item item-body">
        <p style="color:#ffffff;">An astronomical catalog or catalogue is a list or tabulation of
          astronomical objects, typically grouped together because they share a common type, morphology,
          origin, means of detection, or method of discovery. Astronomical catalogs are usually the result
          of an astronomical survey of some kind.</br >
          The AstroCatalogue brings for you this true universe with a data base with more then 10000 object for your enjoy.
        </p>
      </div>
    </div>
    <div class="padding">

      <button class="button button-raised button-full button-assertive-900 ink-dark" ng-click="ChargeDb()"><span my-current-label="btLabel"></span></button>


    </div>
  </ion-content>
</ion-view>
